@model IEnumerable<GitFit.Models.Activity>

@{
    ViewData["Title"] = "Index";
}
<div class="spacer"></div>
<h1>Activity Entries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entry.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intensity)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entry.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intensity)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
